@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Light background color */
  --foreground: #171717; /* Dark text color */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; /* Dark background color */
    --foreground: #ededed; /* Light text color */
  }
}

body {
  color: var(--foreground); /* Set body text color */
  background: var(--background); /* Set body background color */
  font-family: Arial, Helvetica, sans-serif; /* Default font family */
  padding-top: 76px; /* Space for the fixed header */
  margin: 0; /* Reset default body margin */
}

@layer utilities {
  .text-balance {
    text-wrap: balance; /* Custom utility for text wrapping */
  }
}

/* Additional styling to ensure sticky footer */
#root {
  display: flex; /* Flex container */
  flex-direction: column; /* Column layout */
  min-height: 100vh; /* Minimum height of the viewport */
}

.main {
  flex: 1; /* Allow main content to grow and fill available space */
}

/* Footer Styles */
footer {
  background-color: #333; /* Footer background color */
  color: white; /* Footer text color */
  text-align: center; /* Center align text */
  padding: 10px 0; /* Padding for footer */
  position: fixed; /* Make the footer fixed */
  left: 0; /* Align to the left */
  right: 0; /* Align to the right */
  bottom: 0; /* Stick to the bottom of the viewport */
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 250px;
  border-radius: 8px;
}

.product-card h2 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.product-card p {
  margin: 4px 0;
}

.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card h1 {
  margin-bottom: 20px;
}

.card input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

.card button {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:disabled {
  background-color: #aaa;
}