@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; 
  --foreground: #171717; 
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a; 
    --foreground: #ededed; 
  }
}

body {
  color: var(--foreground);
  background: var(--background); 
  font-family: Arial, Helvetica, sans-serif; 
  padding-top: 76px; 
  margin: 0; 
}

@layer utilities {
  .text-balance {
    text-wrap: balance; 
  }
}
 
#root {
  display: flex;  
  flex-direction: column;  
  min-height: 100vh;  
}

.main {
  flex: 1;
  margin-bottom: 130px; 
  padding: 0 20px; 
  max-width: 1200px; 
  margin-left: auto; 
  margin-right: auto;  
}


footer {
  background-color: #333; 
  color: white; 
  text-align: center; 
  padding: 10px 0; 
  position: fixed; 
  left: 0; 
  right: 0;
  bottom: 0; 
}


.product-list {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.product-card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 250px;
  border-radius: 8px;
  display: flex;  
  flex-direction: column;  
  justify-content: space-between;  
  min-height: 300px;  
}

.product-card h2 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}

.product-card p {
  margin: 4px 0;
}

.profile-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.card h1 {
  margin-bottom: 20px;
}

.card input {
  margin-bottom: 10px;
  padding: 8px;
  border-radius: 4px;
  width: 100%;
}

.card button {
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.card button:disabled {
  background-color: #aaa;
}

.dropbtn {
  background-color: transparent;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}


.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: transparent;}


.card-space {
  margin-left: 40px;
  margin-top: 10px;
}

 
.remove-button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-button:hover {
  background-color: #c9302c;  
}

.product-actions {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;  
}

.add-to-cart-button {
  margin-left: 8px;
  margin-bottom: 2px;  
}

.favorite-button {
  margin-bottom: 8px; 
  margin-right: 8px; 
}

.buy-now-container {
  display: flex;
  justify-content: center; 
  margin-top: 30px;
}

.buy-now-button {
  background-color: #3498db; 
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s, transform 0.3s;
}

.buy-now-button:hover {
  background-color: #2980b9; 
  transform: scale(1.05); 
}